<div>
    <div class="row animated slideInDown" style="margin-bottom: 5px;">
        <div class="col-6">
            <h4>Ventes</h4>
        </div>
        <div class="col-6">
            <ul class="nav justify-content-end nav-pills">
                <li class="nav-item" style="margin-left: 10px;">
                    <a class="nav-link active" routerLink="/ventes/edit">
                        Nouvelle vente
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="">
        <div class="marginBottomOnMobile">
            <form [formGroup]="rechercheForm" (ngSubmit)="onSubmitForm()">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    Date début
                                </span>
                            </div>
                            <input placeholder="Date début" type="date" formControlName="debut" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    Date fin
                                </span>
                            </div>
                            <input placeholder="Date fin" type="date" formControlName="fin" class="form-control">
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <app-table-ventes [ventes]="VENTES"></app-table-ventes>
</div>