<div class="row" style="margin-top: 20px;">
    <div class="col-lg-6">
        <h4>
            {{article ? article.libelle : "Aucun libellé"}}
        </h4>
        <h6 class="text-primary">
            {{article ? article.ref : "Aucune référence"}}
        </h6>

    </div>
    <div class="col-lg-6">
        <ul class="nav justify-content-end nav-pills">
            <li class="nav-item">
                <a class="nav-link active" (click)="edit(article)">Modifier l'article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/articles">Revenir aux articles</a>
            </li>
        </ul>

    </div>
</div>

<div *ngIf="article" class="row" style="margin-top: 20px;">
    <div class="col-lg-12">
        <div style="margin-top: 0px;">
            <p>
                {{article.description}}
            </p>
            <p>
                {{article.famille.libelle}}
            </p>
        </div>
        
    </div>
</div>