<div>
    <div class="row animated slideInDown" style="margin-bottom: 10px;">
        <div class="col-6">
            <h4>Clients</h4>
        </div>
        <div class="col-6">
            <ul class="nav justify-content-end nav-pills">
                <li class="nav-item" style="margin-left: 10px;">
                    <a class="nav-link btn-light" routerLink="/clients/edit">
                        <span style="margin-right: 5px; display: inline-block; ">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </span>
                        <sup style="margin-left: 0px;">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </sup>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
        <thead>
            <tr>
                <th>Nom complet</th>
                <th>Code</th>
                <th>Tel</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of clients" (click)="viewClient(a)">
                <td>{{a.nomComplet}}</td>
                <td>{{a.code}}</td>
                <td>{{a.tel}}</td>
                <td>{{a.mail}}</td>
            </tr>
        </tbody>
    </table>

</div>