<div>
    <div class="row animated slideInDown" style="margin-bottom: 10px;">
        <div class="col-6">
            <h4>Promotions</h4>
        </div>
        <div class="col-6">
            <ul class="nav justify-content-end nav-pills">

                <li class="nav-item" style="margin-left: 10px;">
                    <a class="nav-link active" routerLink="/promotions/edit">
                        +
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
        <thead>
            <tr>
                <th>Début</th>
                <th>Fin</th>
                <th>Pourcentage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let promotion of promotions" (click)="viewPromotion(promotion)">
                <td>{{promotion.dateDebut | date:'yyyy-MM-dd'}}</td>
                <td>{{promotion.dateFin | date:'yyyy-MM-dd'}}</td>
                <td>{{promotion.pourcentageRemise}}%</td>
            </tr>
        </tbody>
    </table>

</div>