.terminer {

}

@media only screen and (max-width: 500px) {
    .terminer {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.transparent {
    opacity: 0.4;
}


.fermer {
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}