<div>
    <div class="row animated slideInDown" style="margin-bottom: 10px;">
        <div class="col-6">
            <h4 style="margin-bottom: 0;">Familles d'articles</h4>
            <span>
                Retrouvez ici toutes les familles d'article
            </span>
        </div>
        <div class="col-6">
            <ul class="nav justify-content-end nav-pills">
                <li class="nav-item" style="margin-left: 10px;">
                    <a class="nav-link active" routerLink="/familles/edit">
                        Nouvelle Famille +
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table style="margin-top: 20px;" class="table row-border hover table-bordered">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Libellé</th>
                <th>Famille Parente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of familles" (click)="viewFamilleArticle(f)">
                <ng-container *ngIf="f.parent">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{f.ref}}</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{f.libelle}}</td>
                    <td>{{f.parent.libelle}}</td>
                </ng-container>
                <ng-container *ngIf="!f.parent">
                    <td>
                        <b>
                            {{f.ref | uppercase}}
                        </b>
                    </td>
                    <td>
                        <b>
                            {{f.libelle | uppercase}}
                        </b>
                    </td>
                    <td>
                        
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>

</div>