<div class="row">
        <div class="col-lg-6">
            <h3 style="margin-top: 0px;">
                Mettre à jour mon mot de passe
            </h3>
            <form [formGroup]="utilisateurForm" (ngSubmit)="onSubmitForm()">
                <div>
    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom complet</label>
                    <input readonly type="email" formControlName="nom" class="form-control">
                    <small class="form-text text-muted">
    
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adresse mail</label>
                    <input readonly type="email" formControlName="login" class="form-control">
                    <small class="form-text text-muted">
    
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ancien mot de passe</label>
                    <input type="password" autocomplete="new-password" formControlName="ancien" class="form-control">
                    <small class="form-text text-muted">
    
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nouveau mot de passe</label>
                    <input type="password" autocomplete="new-password" formControlName="passe" class="form-control">
                    <small class="form-text text-muted">
    
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Confirmer le nouveau mot de passe</label>
                    <input type="password" autocomplete="new-password" formControlName="confirm" class="form-control">
                    <small class="form-text text-muted">
                        
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Pourcentage maximal de remise accordable</label>
                    <input readonly type="number" formControlName="remise" class="form-control">
                    <small class="form-text text-muted">
                        Un nombre entre 0 et 100
                    </small>
                </div>
                
    
    
                <button type="submit" [disabled]="utilisateurForm.invalid" class="btn btn-primary">
                    Mettre à jour mon mot de passe
                </button>
            </form>
        </div>
        <div class="col-lg-6">
                <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">
                    Confidentialité
                </h4>
                <p>
                    Votre mot de passe est personnel. Aucun utilisateur de l'application n'y aura accès
                </p>
                <hr>
                <p class="mb-0">
                    Pour plus d'informations, vous pouvez contacter un de nos collaborateurs au 696543495
                </p>
            </div>
        </div>
    </div>